{% extends 'base.html.twig' %}

{% block title %}{{'main.profile_page'|trans}}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.jqueryui.min.css"/>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.jqueryui.min.js"></script>
{% endblock %}
{% block body %}
    <div class="d-flex flex-column w-100">
        {% if user %}
            <p class="h1">{{ 'word.hello'|trans }}, {{ user.getFullName()|raw }}!</p>
            <a href="{{ path('create_review_by_admin', {'id':user.id}) }}" class="btn btn-outline-warning w-25">{{ 'user_page.buttons.create_review'|trans }}</a><br>
            {{'user_page.your_reviews'|trans}}:
            <div id="table-reviews">{{'search.loading'|trans}}</div>
        {% else %}
            <h1>{{ 'user_page.user_not_fount'|trans }}</h1>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts_after %}
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
      $(function() {
        $('#table-reviews').initDataTables({{ datatable_settings(datatable) }}, {
          searching: true,
        })
      });
    </script>
{% endblock %}
